<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Henny+Penny|Lato:300" rel="stylesheet">
    </head>
    <body>
        <div class="flash" style="color: #fff">
          <% if flash.has?(:message) %>
            <%= flash[:message] %>
          <% end %>
          </div>
        <h1 class="team">Edit My Quidditch Team:</h1>
        <form action="/teams/<%=@team.id%>" method="post">
            <input type="hidden" name="_method" value="patch" id="hidden">
                    <label for="name">Name: <input type="text" name="team[name]" id="name" value="<%= @team.name %>"> </label>
                    <label for="chaser">Chaser: <input type="text" name="team[chaser]" id="chaser" value="<%= @team.chaser %>"> </label>
                    <label for="beater">Beater: <input type="text" name="team[beater]" id="beater" value="<%= @team.beater %>"> </label>
                    <label for="keeper">Keeper: <input type="text" name="team[keeper]" id="keeper" value="<%= @team.keeper %>"> </label>
                    <label for="seeker">Seeker: <input type="text" name="team[seeker]" id="seeker" value="<%= @team.seeker %>"> </label>
            <button class="w3-button w3-teal">Submit</button>
        </form>
    </body>
</html>